################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/TgParse/.vs/TgParse
/ML_agent
/ML_agent/main.py
/backend/TgParse/bin/Debug/net9.0/TgParse.dll
/backend/TgParse/bin/Debug/net9.0/TgParse.exe
/backend/TgParse/bin/Debug/net9.0/TgParse.pdb
/backend/TgParse/obj/Debug/net9.0/refint/TgParse.dll
/backend/TgParse/obj/Debug/net9.0/apphost.exe
/backend/TgParse/obj/Debug/net9.0/ref/TgParse.dll
/backend/TgParse/obj/Debug/net9.0/TgParse.AssemblyInfo.cs
/backend/TgParse/obj/Debug/net9.0/TgParse.AssemblyInfoInputs.cache
/backend/TgParse/obj/Debug/net9.0/TgParse.dll
/backend/TgParse/obj/Debug/net9.0/TgParse.pdb
/backend/TgParse/obj/Debug/net9.0/TgParse.sourcelink.json
