**/backend/TgParse/obj/
**/bin/
**/.vs/
/frontend/
/ML_agent/

/.env
/local_images
/minio_data
../bin/*
/backend/TgParse/obj/Debug/net9.0/TgParse.GeneratedMSBuildEditorConfig.editorconfig
/backend/TgParse/obj/TgParse.csproj.nuget.g.props
/backend/TgParse/obj/TgParse.csproj.nuget.g.targets
/backend/TgParse/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/backend/TgParse/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/backend/.env
/backend/TgParse/.env
/backend/TgParse/WTelegram
/wtelegram
/backend/.env
/TG_bot_Crowdsourcing/.env
/backend/TgParse/Properties
/backend/DBShared/.env
/backend/DBShared/obj/*
/backend/AgentBackend/obj/*
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.AssemblyInfo.cs
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.AssemblyInfoInputs.cache
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.csproj.AssemblyReference.cache
/backend/AgentBackend/obj/Release/net9.0/AgentBackend.AssemblyInfo.cs
/backend/AgentBackend/obj/Release/net9.0/AgentBackend.AssemblyInfoInputs.cache
/backend/DBShared/obj/Debug/net9.0/refint/DBShared.dll
/backend/DBShared/obj/Debug/net9.0/DBShared.AssemblyInfo.cs
/backend/DBShared/obj/Debug/net9.0/DBShared.AssemblyInfoInputs.cache
/backend/DBShared/obj/Debug/net9.0/DBShared.csproj.CoreCompileInputs.cache
/backend/DBShared/obj/Debug/net9.0/DBShared.dll
/backend/DBShared/obj/Debug/net9.0/DBShared.pdb
/backend/DBShared/obj/Debug/net9.0/DBShared.sourcelink.json
/backend/DBShared/obj/Release/net9.0/DBShared.AssemblyInfo.cs
/backend/DBShared/obj/Release/net9.0/DBShared.AssemblyInfoInputs.cache
/backend/AgentBackend/.env
/backend/AgentBackend/obj/Debug/net9.0/ref/AgentBackend.dll
/backend/AgentBackend/obj/Debug/net9.0/refint/AgentBackend.dll
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.assets.cache
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.csproj.CoreCompileInputs.cache
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.csproj.FileListAbsolute.txt
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.dll
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.MvcApplicationPartsAssemblyInfo.cs
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.pdb
/backend/AgentBackend/obj/Debug/net9.0/AgentBackend.sourcelink.json
/backend/AgentBackend/obj/Debug/net9.0/ApiEndpoints.json
/backend/AgentBackend/obj/Debug/net9.0/apphost.exe
/backend/AgentBackend/obj/AgentBackend.csproj.nuget.dgspec.json
/backend/AgentBackend/obj/AgentBackend.csproj.nuget.g.props
/backend/AgentBackend/obj/AgentBackend.csproj.nuget.g.targets
/backend/AgentBackend/obj/project.assets.json
/backend/AgentBackend/obj/project.nuget.cache
/backend/AgentBackend/obj/Release/net9.0/AgentBackend.assets.cache
/backend/AgentBackend/obj/Release/net9.0/AgentBackend.csproj.AssemblyReference.cache
