################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/TgParse/.vs/TgParse
/ML_agent/*
/ML_agent/main.py
/backend/TgParse/obj/ 
/backend/TgParse/obj/* 
/backend/TgParse/bin/
/.vs/fishing_agent/FileContentIndex/3510b607-c118-49e7-9721-962c9798d366.vsidx
/.vs/fishing_agent/v17/.wsuo
/.vs/fishing_agent/v17/DocumentLayout.backup.json
*.json
*.sqlite
/.vs/VSWorkspaceState.json
/backend/TgParse/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/backend/TgParse/obj/Release/net9.0/TgParse.AssemblyInfo.cs
/backend/TgParse/obj/Release/net9.0/TgParse.AssemblyInfoInputs.cache
/backend/TgParse/obj/Release/net9.0/TgParse.assets.cache
/backend/TgParse/obj/Release/net9.0/TgParse.csproj.AssemblyReference.cache
/backend/TgParse/obj/Release/net9.0/TgParse.GeneratedMSBuildEditorConfig.editorconfig
/backend/TgParse/obj/Release/net9.0/TgParse.GlobalUsings.g.cs

C:\Users\Red1an\Documents\sharp\FishingAgent\fishing_agent\ML_agent\*
/ML_agent/endpoints/classes_for_endpoint.py
C:/Users/Red1an/DOcuments/sharp/FishingAgent/fishing_agent/.vs/
/.vs/fishing_agent/v17/.wsuo
/.vs/fishing_agent/v17/DocumentLayout.backup.json
/.vs/VSWorkspaceState.json
/backend/TgParse/.vs/ProjectEvaluation/tgparse.metadata.v9.bin
/backend/TgParse/.vs/ProjectEvaluation/tgparse.projects.v9.bin
/backend/TgParse/.vs/ProjectEvaluation/tgparse.strings.v9.bin
/backend/TgParse/bin/Debug/net9.0/TgParse.deps.json
/backend/TgParse/obj/Debug/net9.0/TgParse.assets.cache
/backend/TgParse/obj/Debug/net9.0/TgParse.csproj.AssemblyReference.cache
/backend/TgParse/obj/Debug/net9.0/TgParse.csproj.CoreCompileInputs.cache
/backend/TgParse/obj/Debug/net9.0/TgParse.csproj.FileListAbsolute.txt
/backend/TgParse/obj/project.assets.json
/backend/TgParse/obj/project.nuget.cache
/backend/TgParse/obj/TgParse.csproj.nuget.dgspec.json
